out
dist
node_modules
.vscode-test/
*.vsix
.vs/
templates/plugin/plugin.csproj/obj/
templates/plugin/plugins_src.csproj/obj/
templates/plugin/plugins_srctest.csproj/obj/
WindowsCredentialManager/bin/
WindowsCredentialManager/obj/
